.title {
  color: #01374b;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color:  #01374b
  
;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background:  #01374b;
  border-radius: 4px;
  color: white;
  text-align: center;
}

